@import '../../../../vars/vars.scss';

.appFilterBtn {
    border: 1px solid $whtclr;
    padding: 5px 10px;
    color: $whtclr;
    font-weight: 500;
    transition: all 0.2s linear;
    &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &.active {
        border: 1px solid $whtclr;
        color: $blueclr;
        background-color: $whtclr;
    }
}